<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<!-- languageArray index starts with 0  -->

<h3>{{this.settings.language[1]}}</h3>  
<ion-button  (click)="setLanguage(1)">language 2</ion-button>

<h3>{{this.settings.language[2]}}</h3>  
<ion-button  (click)="setLanguage(2)">language 3</ion-button>

<p>
<ion-checkbox checked disabled></ion-checkbox> Include pictures with no label 
</p>


</ion-content>
